.card{
  width: 30rem;
  background-color: rgba(41, 41, 40, 1);
  border-radius: 20px;
}
.card-body {
  text-align: center;
}
.card{
  margin-left:230px;
}
.input_field{
  border-radius: 20px;
  background-color:rgba(61, 61, 61, 1) ;
}
.btn-primary_login{
  background-color: rgba(255, 253, 2, 1);
}
.forgot_password>a{
  color:rgba(255, 253, 2, 1) ;
}
.right_content{
  margin-left:900px;
  margin-top: 100px;
}
.right_content > h1{
  font-size: 60px;
}
.right_content > h1 > span{
  color:rgba(255, 253, 2, 1) ;
}