.login {
  display: flex;

}
.register{
  width: 40rem;
  background-color:rgba(41, 41, 40, 1) ;
  text-align: center;
}
.input_field {
  border-radius: 20px;
  background-color: rgba(61, 61, 61, 1);
}
.btn-primary_login {
  background-color: rgba(255, 253, 2, 1);
}
.forgot_password > a {
  color: rgba(255, 253, 2, 1);
}
.right_content {
  margin-left: 100px;
}
.right_content > h1 {
  font-size: 100px;
}
.right_content > h1 > span {
  color: rgba(255, 253, 2, 1);
}
