.post_body{
  text-align: center;
}
.post_select{
   display: flex;
   justify-content: space-evenly;
}
.details{
  text-align: center;
  width: 40rem;
  margin-left:400px;
  margin-top: 50px;
  background-color: rgba(41, 41, 40, 1);
  box-shadow:0 5px 6px rgba(255, 253, 2, 1),0 2px 3px rgba(255, 253, 2, 1);
}
.input_post{
  border-radius: 20px;
  background-color: rgba(61, 61, 61, 1);
}
.btn-primary_login {
  background-color: rgba(255, 253, 2, 1);
}
.close{
 margin-left: 700px;
}
.close:hover{
  background-color:rgba(41, 41, 40, 1) ;
  box-shadow:0 5px 6px rgba(255, 253, 2, 1),0 2px 3px rgba(255, 253, 2, 1);
  
}
.post_bg{
  margin-top: 70px;
  background-color:rgba(41, 41, 40, 1) ;
  width: 800rem;
}
.role{ 
  margin-left: 100px;
  width: 15rem;
  text-align: center;
  border-radius: 20px;
  background-color:rgba(255, 253, 2, 1) ;
  box-shadow:0 5px 6px  rgba(41, 41, 40, 1),0 2px 3px  rgba(41, 41, 40, 1);
}
.role:hover{
  background-color:rgba(255, 253, 2, 1) ;
}
.post_header>span{
  color:rgba(255, 253, 2, 1) ;
}

